

/* 大螢幕 */
@Media (min-width: 1200px) { 


 

    #section_1 .section_block{
		margin-top:125px;
		margin-bottom:160px;
    }

	
	
	#section_1 div.section_block .casestudy_intro {
		text-align:center;
		margin-bottom: 40px;
    }
	
	

	
	
	
 
 
}







/* 一般pc小螢幕 */
@Media (min-width: 980px) and (max-width: 1199px) { 



	
	
	#section_1 .section_block .casestudy_entertainment {
		margin-bottom:0px;
    }
	
	
	
	#section_1 div.section_block .casestudy_intro {
		text-align:center;
		margin-bottom: 40px;
    }
	
	
	#section_1 div.section_block .casestudy_content {
		text-align:left;
		margin-bottom:80px;
    }
	
	



}







/* 平板電腦、橫向手機和一般桌機解析度 */
@Media (min-width: 768px) and (max-width: 979px) { 
	
	
	
	#section_1 div.section_block .casestudy_intro {
		text-align:center;
		margin-bottom:50px;
    }
	
	#section_1 div.section_block .casestudy_content {
		text-align:left;
		margin-bottom:70px;
    }
	

	
	/* button style */
    #section_1 div.section_block .Button_line {
    font-size:10pt;
	padding: 7px 20px 10px 20px;

}




}

/* 橫向智慧手機到竪立平板電腦解析度 */
@Media (max-width: 767px) { 
 


	#section_1 div.section_block {
	margin-top:60px;
    margin-bottom:10px;
}

 
	#section_1 div.section_block .casestudy_intro {
		text-align:center;
		margin-bottom:50px;
    }
	
	#section_1 div.section_block .casestudy_content {
		text-align:center;
		margin-bottom:120px;
    }
	
	
	#section_1 .page_txt2, #section_1 .page_txt1, #section_1 .page_txt{
		text-align:left;
}
	
	


}





/* iPhone 6 & 6 plus > 4.7吋--手機及其他更小解析度 */
@Media (min-width: 373px) and (max-width: 414px) { 


	#section_1 .page_txt2, #section_1 .page_txt1, #section_1 .page_txt{
		text-align:left;
}

}





/* 橫向智慧手機及其他更小解析度 */
@Media (max-width: 480px) { 
	
	
	#section_1 div.section_block {
	margin-top:20px;
}
	
	
		/* button style */
    #section_1 div.section_block .Button_line {

    padding: 7px 20px 10px 20px;

}

	
#section_1 div.section_block .casestudy_intro {
    margin-bottom: 20px;
    text-align: center;
}
	
	#section_1 div.section_block .casestudy_content {
		text-align:center;
    }
	


	#section_1 div.section_block .wordscale {
    margin-top:-90px;
	margin-bottom: -120px;
}



	#section_1 .page_txt2, #section_1 .page_txt1, #section_1 .page_txt{
		text-align:left;
}




}

