/* ie */
.row-fluid div.imgLeft{
    *float: left;
    *width: 55%;
}
.row-fluid div.wordRight{
    *float: right;
    *width: 34%;
}


.features_banner_top { *margin-top:75px;}






/* 大螢幕 */
@Media (min-width: 1200px) { 
    .row-fluid div.imgLeft{
        float: left;
        width: 55%;
    }
    .row-fluid div.wordRight{
        float: right;
        width: 34%;
    }


 .features_banner_top { margin-top:75px; margin-left:20px;}
 
 
     #section_1 div.section_block {
        margin-bottom:170px;
    }
	
	
	#section_1 div.section_block .casestudy_intro {
		text-align:center;
		margin-bottom: 40px;
    }
	
	
	#section_2 div.section_block .casestudy_intro {
		text-align:center;
    }
	
	
	
	#section_2 div.section_block .casestudy_content {
		text-align:left;
		margin-bottom:80px;
    }
	
	
	#section_2 div.section_block {
    margin-top:120px;
}
	
	
	
 
 
}







/* 一般pc小螢幕 */
@Media (min-width: 980px) and (max-width: 1199px) { 
    .row-fluid div.imgLeft{
        float: left;
        width: 55%;
    }
    .row-fluid div.wordRight{
        float: right;
        width: 30%;
    }


    .features_banner_top { margin-top:75px;}

    /* 只針對此 Features 頁面的此解析度作用,所以不寫進共用的CSS */
    .page_title span, .page_title {
        font-size:47px;
        line-height:50px;
    }
	
	
	
	#section_1 .section_block .casestudy_entertainment {
		margin-bottom:0px;
    }
	
	
	
	#section_1 div.section_block .casestudy_intro {
		text-align:center;
		margin-bottom: 40px;
    }
	
	
	#section_1 div.section_block .casestudy_content {
		text-align:left;
		margin-bottom:80px;
    }
	
	
	#section_2 div.section_block .casestudy_intro {
		text-align:center;
    }
	
	
	#section_2 div.section_block .casestudy_content {
		text-align:left;
		margin-bottom:80px;
    }
	
	#section_2 div.section_block {
    margin-top:120px;
}


}







/* 平板電腦、橫向手機和一般桌機解析度 */
@Media (min-width: 768px) and (max-width: 979px) { 
    .row-fluid div.imgLeft{
        float: left;
        width:100%;
    }


    .row-fluid div.wordRight{
        float: right;
        width:100%;
        margin-bottom:50px;
    }


    .features_banner_top { margin-top:0px;}
	
	
	
	#section_1 div.section_block .casestudy_intro {
		text-align:center;
		margin-bottom:50px;
    }
	
	#section_1 div.section_block .casestudy_content {
		text-align:left;
		margin-bottom:70px;
    }
	
	
	#section_2 div.section_block .casestudy_intro {
		text-align:center;
    }
	
	
	#section_2 div.section_block .casestudy_content {
		text-align:left;
		margin-bottom:70px;
    }
	
	
	
	#section_2 div.section_block {
    margin-top:100px;
}
	
	
	/* button style */
    #section_1 div.section_block .Button_line {
    font-size:10pt;
	padding: 7px 20px 10px 20px;

}




}

/* 橫向智慧手機到竪立平板電腦解析度 */
@Media (max-width: 767px) { 
    .row-fluid div.imgLeft{
        float: left;
        width:100%;
    }
    .row-fluid div.wordRight{
        float: right;
        width:100%;
        margin-bottom:40px;
    }
 

    .features_banner_top { margin-top:0px;}
	
	
	
	
	#section_1 div.section_block {
	margin-top:60px;
    margin-bottom:10px;
}

 
	#section_1 div.section_block .casestudy_intro {
		text-align:center;
		margin-bottom:50px;
    }
	
	#section_1 div.section_block .casestudy_content {
		text-align:center;
		margin-bottom:100px;
    }
	
	
	#section_2 div.section_block .casestudy_intro {
		text-align:center;
    }
	
	
	#section_2 div.section_block .casestudy_content {
		text-align:center;
		margin-bottom:100px;
    }
	
	
	
	
	#section_2 div.section_block {
    margin-top:90px;
}


}





/* iPhone 6 & 6 plus > 4.7吋--手機及其他更小解析度 */
@Media (min-width: 373px) and (max-width: 414px) { 




}





/* 橫向智慧手機及其他更小解析度 */
@Media (max-width: 480px) { 
    .row-fluid div.imgLeft{
        float: left;
        width:100%;
    }

    .row-fluid div.wordRight{
        float: right;
        width:100%;
        margin-bottom:10px;
    }
	
	
	#section_1 div.section_block {
	margin-top:20px;
}
	
	
		/* button style */
    #section_1 div.section_block .Button_line {

    padding: 7px 20px 10px 20px;

}

	
#section_1 div.section_block .casestudy_intro {
    margin-bottom: 20px;
    text-align: center;
}
	
	#section_1 div.section_block .casestudy_content {
		text-align:center;
    }
	
	
	#section_2 div.section_block .casestudy_intro {
		text-align:center;
    }
	
	
	#section_2 div.section_block .casestudy_content {
		text-align:center;
    }
	

	
	#section_2 div.section_block {
    margin-top:70px;
}



	#section_1 div.section_block .wordscale {
    margin-top:-90px;
	margin-bottom: -120px;
}



	#section_2 div.section_block .wordscale {
    margin-top:-130px;
	margin-bottom: -300px;
}





}

